.header__container{

    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    height: 100px;
    width: 100vw;
    /* z-index: 1; */
    box-shadow: 0px 7px 12px -4px rgba(0,0,0,0.6);
    /* padding: 10px; */
}
.main-nav{
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px 10px;
width: 1440px;

/* height: 100px; */
}
.ham-menu{
    display: none;
}
.mobile-nav{
    display: none;
}
.logo-btn{
    text-decoration: none;
    font-size: 50px;
    color: green;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
/* .main-nav__links{
    display: flex;
} */
.main-nav__link-ul{
    display: flex;
    font-size: 20px;
    color: green;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.main-nav__link{
    text-decoration: none;
    margin-right: 20px;
    color: grey;
}
.main-nav__link--active{
    text-decoration: none;
    margin-right: 20px;
    color: green;
    font-weight: 800;
}
.main-nav__link:hover{
    color: green;
    font-weight: 800;
}
.main-nav__cart-icon{
    position: relative;
    right: 0;
    margin-right: 40px;
    font-size: 30px;
    color: green;
    cursor: pointer;
    transition: color .3s ease-in-out;
}
.main-nav__cart-icon a{
    color: green;
}
.cart-icon-notification{
    position: absolute;
    top: -10px;
    right: -8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    font-size: 1rem;
    color: white;
        font-family: 'Roboto', sans-serif;
    font-weight: 700;
    
}

@media (max-width: 500px) {
    .main-nav{
        margin-bottom: 0;
        width: 100vw;
    }
    .main-nav__links, .main-nav__cart-icon{
        display: none;
    }
    .main-nav__link, .main-nav__link--active{
        margin-right: 0;
        margin-top: 0;
    }
    .cart{
        display: flex;
    }
    #cart-icon-notification{
        color:green;
        margin-left: 15px;
    }
    .ham-menu{
        display: flex;
    }
    .mobile-nav{
        display: none;
    }
    .main-nav__links-mobile{
        margin-top: 5px;
    }
    .hamburger-menu{
        font-size: 40px;
        color: green;
        margin-right: 15px;
    }
    .ham-menu__bg{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 45px;
        background-color: white;
    }
    .mobile-nav-close{
        display: block;
        position: relative;
        z-index: 1;
        /* display: block; */
        font-size: 20px;
        color: green;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
    }
};