ul {
  list-style-type: none;
}

.header__container {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  height: 100px;
  width: 100%;
  /* z-index: 1; */
  box-shadow: 0px 7px 12px -4px rgba(0, 0, 0, 0.6);
  /* padding: 10px; */
}
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px;
  width: 1440px;

  /* height: 100px; */
}
.ham-menu {
  display: none;
}
.mobile-nav {
  display: none;
}
.logo-btn {
  text-decoration: none;
  font-size: 50px;
  color: green;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
/* .main-nav__links{
    display: flex;
} */
.main-nav__link-ul {
  display: flex;
  font-size: 20px;
  color: green;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.main-nav__link {
  text-decoration: none;
  margin-right: 20px;
  color: grey;
}
.main-nav__link--active {
  text-decoration: none;
  margin-right: 20px;
  color: green;
  font-weight: 800;
}
.main-nav__link:hover {
  color: green;
  font-weight: 800;
}
.main-nav__cart-icon {
  position: relative;
  right: 0;
  margin-right: 40px;
  font-size: 30px;
  color: green;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.main-nav__cart-icon a {
  color: green;
}
.cart-icon-notification {
  position: absolute;
  top: -10px;
  right: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  font-size: 1rem;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.hamburger {
  display: none;
}
.line {
  width: 30px;
  height: 5px;
  background-color: green;
  margin-top: 5px;
  margin-right: 10px;
}

@media (max-width: 500px) {
  body,
  html {
    /* height: 100vh; */
    width: 100vw;
    scroll-behavior: smooth;
    /* overflow-y: scroll; */
    overflow-x: hidden;
  }
  .hamburger {
    display: block;
  }
  .main-nav {
    margin-bottom: 0;
    width: 100vw;
  }
  .main-nav__link-ul {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: 15px;
    height: 100vh;
  }
  .main-nav__link-ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: auto;
  }
  .main-nav__link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 0px;
  }
  .main-nav__links {
    position: absolute;
    margin-bottom: 0px;
    margin-right: 0px;
    right: 0;
    top: 100px;
    background-color: whitesmoke;
    height: 100vh;
    width: 50vw;
    z-index: 3;
    transform: translateX(100%);
    transition: 0.2s ease-in-out;
  }
  .main-nav__links--active {
    position: absolute;
    margin-bottom: 0px;
    margin-right: 0px;
    right: 0;
    top: 100px;
    background-color: whitesmoke;
    height: 100vh;
    width: 50vw;
    z-index: 3;
    transform: translateX(0%);
  }
  .main-nav__cart-icon {
    display: none;
  }
}

@media (max-width: 760px) {
  body,
  html {
    height: 100vh;
    width: 100vw;
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
