@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100vw;
  /* height: 100vh; */
  overflow-x: hidden;
  background: rgb(51, 82, 136);
}
.container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.card__container {
  display: flex;
  background-color: whitesmoke;
  height: 400px;
  width: 600px;
  margin: 12px;
  border-radius: 5px;
}
.card__image-container {
  background-color: white;
  display: flex;
  align-items: center;
  width: 500px;
  height: 100%;
  /* margin-right: 10px; */
  position: relative;
  border-radius: 5px;
}
.card__image {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  /* border-radius: 5px; */
}
.card__right-info {
  padding: 10px;
}
.card__product-status-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: green;
  height: 20px;
  width: 40px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 0.725em;
  font-weight: 700;
  margin-bottom: 0.6em;
  font-family: "Roboto", sans-serif;
}
.card__product-title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.8em;
}
.card__product-name {
  font-size: 1em;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: grey;
  margin-bottom: 40px;
}
.card__price-quantity {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
.card__price {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 0.725em;
  font-weight: 500;
  color: grey;
  margin-bottom: 1em;
}
.card__price-number {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 700;
  color: green;
}
.card__quantity-container {
  margin-right: 2em;
}
.card__counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 30px;
  width: 100px;
  border-radius: 15px;
}
.card__quantity {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 0.725em;
  font-weight: 500;
  color: grey;
  margin-bottom: 1em;
}
.counter-minus {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5em;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: whitesmoke;
  text-align: center;
  color: gray;
  cursor: pointer;
  border-style: none;
}
.minus,
.plus {
  font-size: 15px;
  color: gray;
}
.counter {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 0.725em;
  font-weight: 900;
  color: grey;
}
.counter-plus {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5em;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: whitesmoke;
  text-align: center;
  color: gray;
  cursor: pointer;
  border-style: none;
}
.card_description {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 0.725em;
  font-weight: 500;
  color: grey;
  margin-bottom: 1em;
}
.card__description-underline {
  background-color: gray;
  height: 2px;
  width: 40%;
  margin-bottom: 1em;
}
.card__product-description-container {
  display: flex;
  width: 300px;
  padding-right: 0.4em;
}
.card__product-description {
  font-family: "Roboto", sans-serif;
  font-size: 0.725em;
  font-weight: 600;
  line-height: 1.3;
  color: grey;
}
.card__bottom {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 2.5em;
}
.add-to-cart {
  background-color: transparent;
  border: none;
  padding: 0.725em;
  outline: 2px solid green;
  color: green;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 0.725em;
  font-weight: 800;
  color: green;
  cursor: pointer;
  transition: 0.125s ease-in;
  margin-top: 40px;
}
.add-to-cart:hover {
  background-color: green;
  color: white;
}

@media (max-width: 500px) {
  .card__container {
    display: flex;
    flex-wrap: wrap;
    height: 450px;
    width: 300px;
    margin: 12px;
    border-radius: 5px;
  }
  .card__image-container {
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 300px;
    overflow: hidden;
  }
  .card__image {
    width: 300px;
    height: 200px;
  }
  .cart__right-info {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 300px;
  }
  .card__product-name {
    margin-bottom: 10px;
  }
  .card__price-quantity {
    /* display: block; */
  }
  .card_description {
    display: none;
  }
  .card__description-underline {
    display: none;
  }
  .card__product-description {
    display: none;
  }
  .card__btnBottom {
    margin-top: 5px;
  }
  .add-to-cart {
    margin-top: 0px;
  }
}
